```html
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Cadastro - Projeto Shinobi X</title>

</head>

<body>

    <h1>CRIAR CONTA</h1>

    <form method="POST">

        <label>Usuário:</label>
        <br>

        <input
            type="text"
            name="usuario"
            required
        >

        <br><br>

        <label>Senha:</label>
        <br>

        <input
            type="password"
            name="senha"
            required
        >

        <br><br>

        <button type="submit">
            Criar conta
        </button>

    </form>

    <br>

    <a href="/login">
        Já tenho uma conta
    </a>

</body>

</html>
```
