```html
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro - Projeto Shinobi X</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">

</head>


<body>


    <div class="container">

        <h1>PROJETO SHINOBI X</h1>

        <p class="subtitulo">
            Crie sua conta ninja
        </p>


        <form method="POST">

            <label>
                Usuário
            </label>

            <input
                type="text"
                name="usuario"
                placeholder="Digite seu usuário"
                required
            >


            <label>
                Senha
            </label>

            <input
                type="password"
                name="senha"
                placeholder="Digite sua senha"
                required
            >


            <button type="submit">
                CRIAR CONTA
            </button>

        </form>


        <div class="login">

            Já possui uma conta?

            <a href="/login">
                Entrar
            </a>

        </div>

    </div>


</body>

</html>
```
